<div class="books card">
  <%- partial('_partial/quote.ejs', {enable: theme.quotes.books.enable, quote: theme.quotes.books.quote}) %>
  <div class="content">
    <ul class="book-list">
      <% 
        var maxShowMum = page.books.maxShowMum || 0;
        var currentIndex = 0;
      %>
      <% for(var i in page.books.bookList) { %> 
        <%
          currentIndex++;
          var b = page.books.bookList[i];
          var bookImgUrl = b.bookImgUrl || '';
          var bookName = b.bookName || '';
          var bookDescription = b.bookDescription || '';
          var bookAuthor = b.bookAuthor || '';
          var bookPublicationTime = b.bookPublicationTime || '';
          var readingProgress = b.readingProgress || '';
          var readingNotesName = b.readingNotesName;
          var readingNotesUrl = b.readingNotesUrl || '';
          var recommendationIndex = b.recommendationIndex || 0;
        %>
        <% if(currentIndex <= maxShowMum ) {%>
          <li class="card">
            <div class="info">
              <div class="img-wrapper"><img src="<%= bookImgUrl %>" alt="<%= bookName %>"></div>
              <div class="meta">
                <% if(bookName) {%> 
                  <h3><%= bookName %></h3>
                <%} %>
                <% if(bookAuthor) {%>
                  <p>作者：<%= bookAuthor %></p>
                <%} %>
                <% if( bookPublicationTime) {%>
                  <p>出版时间：<%= bookPublicationTime %></p>
                <%} %>
                <% if(readingProgress) {%>
                  <p>阅读进度：<%= readingProgress %></p>
                <%} %>
                <% if(readingNotesName && readingNotesUrl) {%>
                  <p class="notes">读书笔记：<a href="<%= readingNotesUrl %>" alt ><%= readingNotesName %></a></p>
                <%} %>
                <% if(recommendationIndex) {%>
                  <p class="rec-idx">推荐指数：
                    <% for(var i=0; i< recommendationIndex; ++i) {%>
                      <span class="icon icon-star"></span>
                    <% } %>
                  </p>
                <%} %>
              </div>
            </div>
            <% if(bookDescription) {%>
              <p  class="book-desc"><%= bookDescription %></p>
            <%} %>
          </li>
        <%} %>
      <%} %>
    </ul>
    <div class="friends-post markdown">
        <%- page.content %>
    </div>
  </div>
</div>
<% if (theme.gitalk.enable && page.comments != false){ %>
  <%- partial('_partial/gitalk') %>
<% } %> 