<div class="categories card">
  <%- partial('_partial/quote.ejs', {enable: theme.quotes.categories.enable, quote: theme.quotes.categories.quote}) %>
  <div class="content">
    <div class="pjax-content-page">  
      <% if (site.categories.length === 0 ){ %>
        <div class="layout-content">
          <li class="message"><span>暂无分类</span></li>
        </div>
      <% } else { %>
        <div class="layout-content">
          <%- partial('_partial/category-header.ejs', {pjaxClass: 'pjax-a-content'}) %>
        </div>
        <%- partial('_partial/short-post.ejs', {posts: page.posts}) %>
        <%- partial('_partial/pagination.ejs', {pjaxClass: 'pjax-a-content'}) %>
      <% } %>
    </div>
    <div class="loading content-loading">
      <%- image_tag('images/loading.gif') %>
    </div>
  </div>
</div>