<div class="friends card">
  <%- partial('_partial/quote.ejs', {enable: theme.quotes.friends.enable, quote: theme.quotes.friends.quote}) %>
  <div class="content">
    <div class="friends-link">
      <% if (page.friends){ %>
        <% for (var i in page.friends){ %>
          <%
            var f = page.friends[i];
            var siteUrl = f.siteUrl ? f.siteUrl : '';
            var name = f.name ? f.name : '';
            var siteImg = f.siteImg ? f.siteImg : '';
            var avatar = f.avatar ? f.avatar : '';
  
            var siteImg = 'background-image:url(' + siteImg + ');'
            var avatar = 'background-image:url(' + avatar + ');'
          %>
          <li class="card">
            <a href="<%= siteUrl %>" target="_blank">
              <div class="site-img" style="<%= siteImg %>"></div>
              <div class="site-info">
                <div class="avator" style="<%= avatar %>"></div>
                <p class="name"><%= name %></p>
              </div>
            </a>
          </li>
        <% } %>
      <% } %>
    </div>
    <div class="friends-post markdown">
      <%- page.content %>
    </div>
  </div>
</div>
<% if (theme.gitalk.enable && page.comments != false){ %>
  <%- partial('_partial/gitalk') %>
<% } %>