<%- partial('_partial/head') %>
<body>
  <div id="app">
    <%- partial('_partial/header') %>
    <div class="page">
      <div class="container">
        <div class="pjax-main-page">
          <%- body %>
        </div>
        <div class="loading main-loading">
            <%- image_tag('images/loading.gif') %>
        </div>
      </div>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>