<%- partial('_partial/head') %>
<body>
  <%# 背景图片设置 %>
  <% if (theme.background.enable) { %>
    <% var str= 'background-image: url('+ theme.background.imageUrl + ');' %>
  <% } %>
  <%# 下面一行会有规则警告，但不影响最终渲染 %>
  <div class="bg" style="<%- str %>"></div>
  <div id="blog">
    <%- partial('_partial/header') %>
    <div class="page">
      <div class="container">
        <div class="pjax-main-page">
          <%- body %>
        </div>
        <div class="loading main-loading">
            <%- image_tag('images/loading.gif') %>
        </div>
      </div>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>