<%- partial('_partial/head') %>
<body id="app">
  <%- partial('_partial/header') %>
  <div class="page"><%- body %></div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
</body>