<div id="post">
  <% var post = page %>
  <article class="card">
    <div class="post-header">
        <% if (theme.post_cover_image.enable) { %>
          <% 
            var url = post.imageUrl; 
            var defalut_image =  url ? '' : 'background-image: url('+ theme.post_cover_image.default_image + ');'
            var defalut_color = theme.post_cover_image.default_bg_color ? 'background-color: ' + theme.post_cover_image.default_bg_color  + ';' : ''
            var str = defalut_image + defalut_color
          %>
          <div class="img-wrapper" style="<%- str %>">
            <img class="lazy" data-src="<%= url %>">
          </div>
        <% } %>
        <div>
          <%- partial('_partial/post/title.ejs', {post: post}) %>
          <div class="meta">
            <%- partial('_partial/post/date.ejs', {post: post}) %>
            <%- partial('_partial/post/hot.ejs',{post: post}) %>
            <%- partial('_partial/post/category.ejs', {post: post, depth: 0}) %>
            <%- partial('_partial/post/tag.ejs', {post: post, amount: 0}) %>
          </div>
        </div>
    </div>
    <div class="post-body">
      <%- post.content %>
    </div>
  </article>
  <%- js('lib/fancybox/source/jquery.fancybox.pack.js') %>
  <%- css('lib/fancybox/source/jquery.fancybox.css') %>
  <%# 引入自定义的fancybox.css %>
  <style>
    .fancybox-overlay{
      width: 100% !important;
      height: 100% !important;
      position: fixed;
      top: 0 !important;
      left: 0 !important;
      z-index: 100;
      overflow: hidden;
    }
    .fancybox-margin {
      margin: 5px !important;
    }
  </style>
  <%- js('js/post.js') %>

  <%# gitalk 功能
    文章中的Front-matter, comments参数只要不是false 就默认有gitalk功能 
   %>
  <% if (theme.gitalk.enable && post.comments != false){ %>
    <%- partial('_partial/gitalk') %>
  <% } %>
</div>