#gitalk

- var gitalkId = date(page.date, 'YYYY-MM-DD HH:mm:ss')
script.
  var gitalk = new Gitalk({
      clientID: '!{theme.gitalk.clientID}',
      clientSecret: '!{theme.gitalk.clientSecret}',
      id: '!{gitalkId}',
      repo: '!{theme.gitalk.repo}',
      owner: '!{theme.gitalk.owner}',
      admin: '!{theme.gitalk.admin}'
  })
  gitalk.render('gitalk')