#header
  .mobile-bg(style={'background-image': "url(" + url_for(theme.mobileImage) + ")"})
  h1(class="title")= theme.title
  h2(class="subtitle")= theme.subtitle
  nav.menu
      each item in theme.menu
        if item.enable
          a(class="menu-item pjax-main-link"  href=url_for(item.url))
            li
              i(class=item.icon)
              span= item.name
