<div id="after-footer">
  <%# 背景图片设置 %>
  <% if (theme.bg_animes.enable) { %>
    <% var str= 'background-image: url('+ theme.bg_animes.default_bg_image + ');' %>
  <% } else { %>
    <% var str= 'background-color: #ccc ' %>
  <% } %>
  <%# 下面一行会有css规则警告，但不影响最终渲染 %>
  <div id="bg" style="<%= str %>"></div>
  <%# 烟花效果加载 %>
  <% if (theme.fireworks.enable){ %>
    <canvas class="fireworks"></canvas>
    <script src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
    <%- js('js/fireworks.js') %>
  <% } %>
  <%# 字体加载 %>
  <script src="https://cdn.bootcss.com/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
  <%# 回到顶端  %>
  <% if (theme.backToTop.enable){ %>
    <!--回到顶层 -->
    <span class="back-to-top"></span>
  <%} %>
  <%# 顶端进度条 %>
  <% if (theme.progressBar.enable){ %>
    <%- js('lib/progress/progress-indicator.min.js') %>
  <% } %>
  <%# 图片懒加载 %>
  <%- js('lib/lazyload/lazyload.min.js') %>
  <%# 文章热度 %>
  <% if (theme.leancloud.enable) {%>
    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>
    <script>
      AV.initialize(
        '<%= theme.leancloud.app_id %>',
        '<%= theme.leancloud.app_key %>'
      )
    </script>
  <% } %>
  <%- js('js/leancloud-hot.js') %>
  <%# 代码高亮 %>
  <%- css('lib/highlight/atelier-dune-dark.css') %>
  <%- js('lib/highlight/highlight.pack.js') %>
  <%# 引入自定义js文件 初始化上面引入的js库 %>
  <%- js('js/index.js') %>
</div>





