<div id="after-footer">
  <div>
    <% if (theme.bg_animes.default_bg_image) { %>
      <% var str= 'background-image: url('+ theme.bg_animes.default_bg_image + ');' %>
    <% } else { %>
      <% var str= 'background-color: #ccc ' %>
    <% } %>
    <%# 下面一行会有css规则警告，但不影响最终渲染 %>
    <ul id="bg" style="<%= str %>">
      <% if (theme.bg_animes.enable){ %>
        <% for (var i in theme.bg_animes.images){ %>
          <%
          var num = Number(i.split('-')[1])
          var str = 'animation-duration: ' + 8 * theme.bg_animes.images_num +'s;' + 'background-image: url('+ theme.bg_animes.images[i] + ');' + 'animation-delay: ' + 8 * (num-1) +'s;'
          %>
          <li style="<%= str %>"></li>
        <% } %>
      <% } %>
    </ul>
    <script>
      /* 延时加载图片 */
      setTimeout(function() {
        document.getElementById('bg').className += ' backstretch'
      }, 4000);
    </script>
  </div>
  <div>
    <%# 烟花效果加载 %>
    <% if (theme.fireworks.enable){ %>
      <canvas id="fireworks"></canvas>
      <script src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
      <%- js('js/fireworks.js') %>
    <% } %>
  </div>
  <div>
    <%# 字体加载 %>
    <script src="https://cdn.bootcss.com/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
    <script>
      var font = new FontFaceObserver('Noto Serif SC', { weight: '400' })
      font.load().then(() => {
        var body = document.querySelector('body')
        body.setAttribute(
          'class',
          'fonts-loaded'
        )
      }).catch((e) => {
        console.error('尝试在线加载 Noto Serif SC 字体失败 ，使用其他字体')
      })
    </script>
  </div>
  <div>
    <%# 回到顶端  %>
    <% if (theme.backToTop.enable){ %>
      <!-- 点击锚# 会自动回到顶层 -->
      <a href="#" class="back-to-top"></a>
      <script>
        var data = {
          showBackTop: false,
          topDistance: -950,
          clientHeight: 0,
          lastScroll: new Date(),
          scrollTimer: ''
        }
        var backToTop = document.querySelector('.back-to-top')
        window.addEventListener('scroll',function() {
          handleScroll()
        })
        function handleScroll(forced) {
          var now = new Date()
          if (now - data.lastScroll <= 100 && !forced ) return
          if (!forced) {
            // 尾更新 task
            clearTimeout(data.scrollTimer)
            data.scrollTimer = setTimeout(() => {
              handleScroll(true)
            }, 1000)
          }
          data.lastScroll = now
          var clientHeight = document.documentElement.clientHeight
          var pageYOffset = window.pageYOffset
          // 判断位置，控制滚动到顶部
          var showBackTop = pageYOffset >= 200
          if (showBackTop !== data.showBackTop || data.clientHeight !== clientHeight) {
            data.showBackTop = showBackTop
            data.topDistance = -950 + (showBackTop ? clientHeight : 0)
            data.clientHeight = clientHeight
            // 为true 是 可见 为flase时 收起
            if (showBackTop) {
              backToTop.classList.toggle('visible')
              backToTop.style.top = '-12px'
            } else {
              backToTop.classList.toggle('visible')
              backToTop.style.top = '-1200px' 
            }
          }
          console.log(data)
        }
      </script>
    <%} %>
  </div>
  <div>
    <%# 顶端进度条 %>
    <% if (theme.progressBar.enable){ %>
      <%- js('js/lib/progress-indicator.min') %>
      <script>
        var progressBar = new ProgressIndicator({color: "#986db2"});
      </script>
    <% } %>
  </div>
  <div>
    <%# 图片懒加载 %>
    <%- js('js/lib/lazyload.min.js') %>
    <script>
      var myLazyLoad = new LazyLoad({
        elements_selector: ".lazy"
      });
    </script>
  </div>
</div>





