<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= theme.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <!-- 下面的link 为Noto+Serif+SC字体的css-->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif+SC" />
  <%# 引入主要的css %>
  <%- css('css/main') %>
  <%# 引入字体图标css %>
  <%- css('fonts/fontello') %>
  <%# 引入rem.js %>
  <%- js('js/rem.js') %>
</head>
