<div id="header">
  <div class="inner">
    <a class="title" href="<%- url_for() %>"><%= theme.title %></a>
    <div class="subtitle"><%= theme.subtitle %></div>
    <ul>
      <% for (var i in theme.menu){ %>
        <% var name, url, icon;
          name = theme.menu[i].name;
          url = theme.menu[i].url;
          icon = theme.menu[i].icon;
        %>
        <li><a class="icon <%= icon %>" href="<%= url_for(url) %>"><%= name %></a></li>
      <% } %>
    </ul>
  </div>
</div>