<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="<%= theme.author %>">
  <meta name="keywords" content="<%= page.title %>">
  <title><%= theme.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no, shrink-to-fit=no">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%# 加载第三方字体的CSS %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif+SC">
  <%# 图标 %>
  <%- css('fonts/fontello') %>
  <%# 引入网页布局的css %>
  <%- css('css/main') %>
  <%# jQuery v2.1.3 %>
  <%- js('lib/jQuery/jQuery.min.js') %>
  <%# gitalk %>
  <% if (theme.gitalk.enable){ %>
    <%- css('lib/gitalk/gitalk.min.css') %>
    <%- js('lib/gitalk/gitalk.min.js') %>
    <%# 自定义部分gitalk样式 %>
    <%- css('css/gitalk') %>
  <% } %>
</head>
