<ul class="short-post">
  <% posts.each(function(post, i){ %>
    <% if (theme.themeColors.enable){ %>
      <%
        var s = 'c-' + (i % theme.themeColors.num  + 1)
        var c = theme.themeColors.colors[s]
        var colorStr = 'color: ' + c + ';'
      %>
    <% } %>
    <li style="<%- colorStr %>">
      <a class="pjax-a-page" href="<%- url_for(post.path) %>"></a>
      <div class="post-body">
        <%- partial('post/title.ejs', {post: post}) %>
      </div>
      <div class="post-meta">
        <%- partial('post/date.ejs', {post: post}) %>
        <%- partial('post/category.ejs', {post: post, depth: 1}) %>
        <%- partial('post/tag.ejs', {post: post, amount: 1}) %>
      </div>
    </li>
  <% }) %>
</ul>