
- var pageTitle = theme.title || ''
- var pageDescription = page.description || theme.description || ''
- var pageAuthor = theme.author || ''
- var pageCopyright = theme.author || ''

doctype html
html(lang='ZH-CN')
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no,viewport-fit=cover")
    meta(name="description" content=pageDescription)
    meta(name="author" content=pageAuthor)
    meta(name="copyright" content=pageCopyright)
    title= pageTitle
    link(rel="shortcut icon", href=url_for(theme.favicon), type="image/x-icon")
    link(rel="stylesheet", href=url_for('/css/index.css') + '?version=' + version())
    link(rel="stylesheet", href=url_for('/font/fontello.css') + '?version=' + version())
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Mono|Noto+Serif+SC&amp;display=swap")
  body
    .layout
      .pc-bg(style={'background-image': "url(" + url_for(theme.pcImage) + ")"})
      header
        include ../component/header.pug
      main
        block content
          h2 世界并不美丽，却也因此而美丽
      footer
        include ../component/footer.pug
      
      if theme.backToTop.enable
        span.back-to-top
    //- 引入 js
    - var js = ['/js/third-party/jquery.min.js', '/js/third-party/timeago.min.js', '/js/index.js']
    each item in js
      script(src=src=url_for(item) + '?version=' + version())
